<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".RunkeeperApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Runkeeper"
        tools:targetApi="31">

        <!--
             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".

             cd ~\.android\debug.keystore
             keytool -list -v -alias androiddebugkey -keystore debug.keystore (password: android)
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <activity
            android:name=".RunkeeperMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".commons.components.ForecastProvider"
            android:authorities="pl.training.runkeeper.commons.components.ForecastProvider"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true"
            android:readPermission="pl.training.runkeeper.ACCESS_FORECAST" />
        <!--
        In extrnal app manifest:

            <permission android:name="pl.training.runkeeper.ACCESS_FORECAST"/>

            <uses-permission android:name="pl.training.runkeeper.ACCESS_FORECAST"/>

            <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
                tools:ignore="QueryAllPackagesPermission" />

            <queries>
                <provider android:authorities="pl.training.runkeeper.commons.components.ForecastProvider"/>
            </queries>
        -->

        <service
            android:name=".commons.components.SchedulerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>